@media only screen and (max-width: 913px) {
    .sideimage{
       display: none;
    }
    .design{
        width: 100%;
    }
    .multicontainer {
        /* height: 570px; */
        border-radius: 21px;
        background-color: white;
        display: flex;
    }
    .background {
        margin: 50px 20px;
    }
    .Already {
        font-size: 12px;
    }    
    
}