*{
    margin: 0;
    padding: 0;
    

}
h1{
    text-align: center;
}
body{
    background-image: linear-gradient(to right bottom, #7ba4f9, #839dfa, #8d95fa, #9a8cf8, #a782f4);
    
}
.background{
    margin: 51px 100px;
    
}
.multicontainer{
    height: 570px;
    border-radius: 21px;
    background-color: white;
    display: flex;
}
.multicontainer img{
    margin: 20px;
    width: 50%;
}
.design{
    border-radius: 21px;
    width: 50%;
    padding: 20px 46px;
    background-color: white;
}
input{
    background: #0924e40f;
    border-radius: 6px;
    font-size: 21px;
    width: 100%;
    padding: 2px;
    /* margin: 6px;*/
}
button{
    background-color: blue;
    color: white;
    border-radius: 9px;
}
.btn{
    text-align: center;
    padding: 7px 26px;
    font-size: 14px
}
hr{
        /* margin-top: -26px; */
        width: 97%;
        margin: 30px auto;
    

}
.or{
    padding: 0px 20px;
    background: white;
    width: fit-content;
    margin: -42px auto 10px;
}
.socialmedia{
    justify-content: center;
    display: flex;
}
.socialmedia img{
    width: 25px;
    height: 25px;
    margin: 0px 6px;
}
.Already{
    text-align: center;
    margin: 7px auto;
    padding: 10px;
}
form i {
    margin-left: -30px;
    cursor: pointer;
}

